.display{
    color: white;
    flex-grow: 1;
    font-size: 87px;
    font-weight: 100;
    height: 85px;
    line-height: 67px;
    padding-right: 10px;
    padding-top: 40px;
    text-align: right;
    background-color: black;
}
#calc{
    width: 450px;
    height: 650px;
    background: blueviolet;
}